<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
    <script src="recs.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="recs.css">
</head>

<body>
    
</head>

<body>
    <h1>Get a recommendation</h1>
    <div ng-app='myApp' ng-controller='myCtrl'>
        <form name='form' ng-submit='recsSearch(form)'>
            <input placeholder='Band' ng-model='form.band' />
            <input placeholder='Movie' ng-model='form.movie' />
            <button type='submit'>Search</button>
        </form>

        <div class="card" ng-repeat='rec in recs' ng-click="clicked">
                <recs rec ='rec'/>
        </div>
    </div>
</body>

</html>