/*webpage*/
h1 {
    color: #f1f2f1;
    background-color: #1a1a1a;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 45px;
    margin: 20px;
}
body {
    text-align: center;
    background-color: #999999;
}

.card {
    float: left;
    background-color: #1a1a1a;
    width: 400px;
    min-height: 150px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    margin: 10px;
}

/*recs class*/
.recs {
    text-align: center;
}
.recs h4 {
    text-transform: capitalize;
    font-size: 32px;
    color: white;
    margin: 5px;
    word-wrap: break-word;
}
.recs h5 {
    color: white;
    font-size: 24px;
    margin: 5px;
    word-wrap: break-word;
}
.recs a {
    color: white;
    font-size: 24px;
    margin: 5px;
    word-wrap: break-word;
}
